{include file='header,menu'}
<link rel="stylesheet" href="/lib/zyupload/zyupload/skins/zyupload-1.0.0.min.css " type="text/css">
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add" action="{:url('product/doEdit')}" method="post" enctype='multipart/form-data'>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$product.product_name}" placeholder="" name="product_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>货号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$product.no}" placeholder="" name="no">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>封面图：</label>
            <div class="formControls col-xs-8 col-sm-9" id="uploadForm">
                <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                    <div class="fileinput-new thumbnail" style="width: 200px;height: auto;max-height:150px;">
                        <img id='picImg' style="width: 100%;height: auto;max-height: 140px;" src="/uploads/{$product.picture}" alt=""/>
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                    <div>
                        <span class="btn btn-primary radius btn-file">
                            <span class="fileinput-new">选择文件</span>
                            <span class="fileinput-exists">换一张</span>
                            <input type="file" name="picture" id="picID" accept="image/gif,image/jpeg,image/x-png"/>
                        </span>
                        <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput">移除</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>组图：</label>
            <div class="formControls col-xs-8 col-sm-9">
            <div id="zyupload"></div>
                <h5>已上传：<small>（点击删除）</small></h5>
                {volist name='$images' id='vo'}
                <div class="upload_append_list">
                    <a style="height:115px;width:140px;" href="{:url('productImage/del',['img_id'=>$vo.img_id])}" class="imgBox image_del_btn">
                        <div class="uploadImg" style="width:125px;max-width:125px;max-height:105px;">
                            <img title="点击删除" id="uploadImage_0" class="upload_image" src="/uploads/{$vo.src}" style="width:expression(this.width > 125 ? 125px : this.width);">
                        </div>
                    </a>
                </div>
                {/volist}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">品牌：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="brand_id" class="select">
                    {volist name='$brand' id='vo'}
                    <option value="{$vo.brand_id}" {if condition="$vo.brand_id eq $product.brand_id"} selected="selected"{/if}>{$vo.brand_name}</option>
                    {/volist}
				</select>
				</span></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>主风格：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="product_style_id" class="select">
                    {volist name='$style' id='vo'}
                    <option value="{$vo.product_style_id}" {if condition="$vo.product_style_id eq $product.product_style_id"} selected="selected"{/if}>{$vo.product_style_name}</option>
                    {/volist}
				</select>
				</span></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>价格：</label>
            <div class="formControls col-xs-4 col-sm-1">
                <input type="number" class="input-text" placeholder="" name="price" value="{$product.price}">
            </div>
            <label class="form-label col-xs-4 col-sm-1">折扣：</label>
            <div class="formControls col-xs-4 col-sm-1">
                <input type="text" class="input-text" placeholder="" name="discount" value="{$product.discount}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="status" class="select">
                    <option value="0" {if condition="$product.status eq 0"} selected="selected"{/if}>下架</option>
                    <option value="1" {if condition="$product.status eq 1"} selected="selected"{/if}>正常</option>
                    <option value="2" {if condition="$product.status eq 2"} selected="selected"{/if}>推荐</option>
				</select>
				</span></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>颜色：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="" name="color" value="{$product.color}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>尺码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="" name="size" value="{$product.size}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>主材：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="" name="materials" value="{$product.materials}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">风格：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="" name="style" value="{$product.style}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">适用人群：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="" name="target" value="{$product.target}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">季节：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="" name="season" value="{$product.season}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">款式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="" name="design" value="{$product.design}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品详情：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="content" id="editor" type="text/plain" style="width:100%;height:400px;">
                    {$product.content}
                </textarea>
            </div>
        </div>
        <div class="row cl">
            <input type="hidden" name="id" value="{$product.id}">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit" id="bbb"><i class="Hui-iconfont">&#xe632;</i> 更新产品</button>
                <a class="btn btn-default radius" type="button" href="{:url('product/index')}">&nbsp;&nbsp;取消&nbsp;&nbsp;</a>
            </div>
        </div>
    </form>
</article>
{include file='footer'}
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.all.min.js"></script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="/lib/fileinput/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/fileinput/js/bootstrap-fileinput.js"></script>
<script type="text/javascript" src="/lib/zyupload/zyupload/zyupload.basic-1.0.0.js"></script>
<script type="text/javascript">
    $(function () {
        var ue = UE.getEditor('editor');
    });
    $(function () {
        // 初始化插件
        $("#zyupload").zyUpload({
            width: "100%",                 // 宽度
            height: "auto",                 // 宽度
            itemWidth: "140px",                 // 文件项的宽度
            itemHeight: "115px",                 // 文件项的高度
            url: "{:url('product/doAdd')}",              // 上传文件的路径
            fileType: ["jpg", "png", "gif", "jpeg"],// 上传文件的类型
            fileSize: 51200000,                // 上传文件的大小
            multiple: true,                    // 是否可以多个文件上传
            dragDrop: false,                   // 是否可以拖动上传文件
            tailor: false,                   // 是否可以裁剪图片
            del: true,                    // 是否可以删除文件
            finishDel: false,  				  // 是否在上传文件完成后删除预览
            /* 外部获得的回调接口 */
            onSelect: function (selectFiles, allFiles) {    // 选择文件的回调方法  selectFile:当前选中的文件  allFiles:还没上传的全部文件
                console.info("当前选择了以下文件：");
                console.info(selectFiles);
            },
            onDelete: function (file, files) {              // 删除一个文件的回调方法 file:当前删除的文件  files:删除之后的文件
                console.info("当前删除了此文件：");
                console.info(file.name);
            },
            onSuccess: function (file, response) {          // 文件上传成功的回调方法
                console.info("此文件上传成功：");
                console.info(file.name);
                console.info("此文件上传到服务器地址：");
                console.info(response);
                $("#uploadInf").append("<p>上传成功，文件地址是：" + response + "</p>");
            },
            onFailure: function (file, response) {          // 文件上传失败的回调方法
                console.info("此文件上传失败：");
                console.info(file.name);
            },
            onComplete: function (response) {           	  // 上传完成的回调方法
                console.info("文件上传完成");
                console.info(response);
            }
        });
    $(".image_del_btn").click(function (e) {
        e.preventDefault();
        var _this=$(this);
        var url=$(this).attr('href');
        $.ajax({
            url:url,
            type:'POST',
            success:function (d) {
                console.log(d);
                _this.parent('.upload_append_list').remove();
            }
        })
    })
    });

</script>
<!--/请在上方写此页面业务相关的脚本-->